{% extends 'layout.twig' %}

{% block body %}
  <!-- main content -->
  <div class="py-12">
    <!-- header -->
    <div class="text-center py-4">
      <h1 class="font-black tracking-wide text-3xl">
        {{ title }}
      </h1>
    </div>

    {% if errors %}
      <!-- start - errors message container -->
      <div class="py-3">
        {% for error in errors.errors %}
          <p class="bg-red-500 p-1 text-white tracking-wide text-center rounded-md">
            {{ error.msg }}
          </p>
        {% endfor %}
      </div>
      <!-- end - errors message container -->
    {% endif %}

    {% if success %}
      <!-- start - success message container -->
      <div class="py-3">
        <p class="bg-green-500 p-1 text-white tracking-wide text-center rounded-md">
          {{ success }}
        </p>
      </div>
      <!-- end - success message container -->
    {% endif %}
    <!-- form content -->
    <div>
      <form action="/" name="shorten-form" method="post">
        <div class="flex flex-col items-center py-2 w-full">
          <label for="long-link">Enter a Long URL to Shorten:</label>
          <input type="text"
            name="grue-link"
            class="text-center my-2 p-3 w-full border-2 rounded md:text-lg font-light tracking-wide outline-none focus:border-green-600 text-green-600"
            placeholder="Enter a very long url in here..."
            required />
        </div>
        <div class="flex flex-col items-center w-full">
          <input type="submit"
            class="py-2 px-12 bg-green-500 hover:bg-green-600 text-white cursor-pointer rounded-md"
            value="Shorten Link" />
        </div>
      </form>
    </div>

    {% if output %}
      <!-- output link shorten -->
      <div>
        <hr class="my-4" />
        <div class="text-center">
          <h3 class="underline font-bold text-sm uppercase tracking-wide">
            Shortened Link
          </h3>
          <a href="{{ output.redirect }}"
            type="button"
            target="_blank"
            class="text-lg tracking-wide text-green-600">
            {{ output.link }}
          </a>
        </div>
        <hr class="my-4" />
      </div>
    {% endif %}
  </div>
{% endblock %}
